<div class="stat-block">
<h1 class="creature-name">{name}</h1>
<p class="size-type-alignment">{sta_txt}</p>
<hr>
<div class="stat-block-top">
    <p class="stat-line"><span class="core-stat-title">Armor Class</span> {armor_class}</p>
    <p class="stat-line"><span class="core-stat-title">Hit Points</span> {hit_points}</p>
    <p class="stat-line"><span class="core-stat-title">Speed</span> {speed}</p>
    <hr>
    <table class="stat-scores">
        <tr class="core-stat-title scores-header">
            <td>STR</td>
            <td>DEX</td>
            <td>CON</td>
            <td>INT</td>
            <td>WIS</td>
            <td>CHA</td>
        </tr>
        <tr>
            <td>{ability_scores.str}</td>
            <td>{ability_scores.dex}</td>
            <td>{ability_scores.con}</td>
            <td>{ability_scores.int}</td>
            <td>{ability_scores.wis}</td>
            <td>{ability_scores.cha}</td>
        </tr>
    </table>
</div>
<hr>
{this|temp:proficiencies}
<hr>
{traits|optline|delimiter: |temp:trait}
{actions|optline|delimiter: |pref:<h2>Actions</h2><hr class="thin">|temp:trait}
{reactions|optline|delimiter: |pref:<h2>Reactions</h2><hr class="thin">|temp:trait}
{legendaries|optline|delimiter: |pref:<h2>Legendary Actions</h2><hr class="thin">|temp:trait}
{mythics|optline|delimiter: |pref:<h2>Mythic Actions</h2><hr class="thin">|temp:trait}
{lairs|optline|delimiter: |pref:<h2>Lair Actions</h2><hr class="thin">|temp:trait}
{description|optline|delimiter: |pref:<hr>}
</div>
