{saves|optline|pref:<p class="stat-line"><span class="stat-block-top core-stat-title">Saving Throws:</span> |suff:</p>}
{skill|optline|pref:<p class="stat-line"><span class="stat-block-top core-stat-title">Skills:</span> |suff:</p>}
{vulnerable|optline|pref:<p class="stat-line"><span class="stat-block-top core-stat-title">Damage Vulnerabilities:</span> |suff:</p>}
{resist|optline|pref:<p class="stat-line"><span class="stat-block-top core-stat-title">Damage Resistances:</span> |suff:</p>}
{immune|optline|pref:<p class="stat-line"><span class="stat-block-top core-stat-title">Damage Immunities:</span> |suff:</p>}
{conditionImmune|optline|pref:<p class="stat-line"><span class="stat-block-top core-stat-title">Condition Immunities:</span> |suff:</p>}
<p class="stat-line"><span class="stat-block-top core-stat-title">Senses:</span> {senses_str}</p>
<p class="stat-line"><span class="stat-block-top core-stat-title">Languages:</span> {languages}</p>
<p class="stat-line"><span class="stat-block-top core-stat-title">Challenge:</span> {challenge_rating}</p>
