<div class="stat-block">
<h1 class="creature-name">{creature-name}</h1>
<p class="size-type-alignment">{size-type-alignment}</p>
{source}
<hr>
<div class="stat-block-top">
    <p class="stat-line"><span class="core-stat-title">Armor Class</span> {armor-class}</p>
    <p class="stat-line"><span class="core-stat-title">Hit Points</span> {hit-points}</p>
    <p class="stat-line"><span class="core-stat-title">Speed</span> {speed}</p>
    <hr>
    <table class="stat-scores">
        <tr class="core-stat-title scores-header">
            <td>STR</td>
            <td>DEX</td>
            <td>CON</td>
            <td>INT</td>
            <td>WIS</td>
            <td>CHA</td>
        </tr>
        <tr>
            <td>{stat-str}</td>
            <td>{stat-dex}</td>
            <td>{stat-con}</td>
            <td>{stat-int}</td>
            <td>{stat-wis}</td>
            <td>{stat-cha}</td>
        </tr>
    </table>
</div>
<hr>
{proficiencies}
<hr>
{traits}
{actions}
{reactions}
{legendaries}
{mythics}
{lairs}
<hr>
{description}
</div>
