
@media screen {
  .page
  {
    position: relative;
    float: left;
    margin: 10px;
    width: 600px;
    height: 840px;
    padding: 20px 40px;
    border: 1px solid black;
    font-size: 6px;
  }
}

@media print {
  @page {
    size: 2550px 3300px;
    image-resolution: 300dpi;
    column-width: 48%;
  }
  
  .page
  {
    position: relative;
    width: 2550px;
    height: 3300px;
    padding: 75px 150px;
    page-break-after:always;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 25.5px;
  }
}

